<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dong.module.sqlite">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".SQLiteActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>