<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dong.module.knowledge">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".main.NewsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".handler.HandlerActivity"/>

        <activity android:name=".handler.CustomerHandlerActivity"/>

    </application>

</manifest>