<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dong.module_app">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="${app_label}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>